# Project 2
## Trevis Slagowski & Treyson Grange

In [3]:
import pandas as pd 
import seaborn as sns
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt

In [4]:
austinZipCodes = pd.read_csv('datasets/AustinZipCodes.csv')
crime_df = pd.read_csv('datasets/crime-housing-austin-2015.csv')
display(austinZipCodes.head())

,#,Zip Code,Location,City,Population,People / Sq. Mile,National Rank
0,1,78705,"30.293474, -97.738268","Austin, Texas","26,825","11,008.66",#519
1,2,78751,"30.310819, -97.722821","Austin, Texas","14,005","5,822.28","#1,374"
2,3,78752,"30.331288, -97.704660","Austin, Texas","18,030","5,435.92","#1,528"
3,4,78741,"30.229845, -97.715136","Austin, Texas","40,661","5,346.47","#1,562"
4,5,78723,"30.305341, -97.683344","Austin, Texas","30,110","5,175.95","#1,640"

In [5]:
display(crime_df.head())

,Key,Council_District,Highest_Offense_Desc,Highest_NIBRS_UCR_Offense_Description,Report_Date,Location,Clearance_Status,Clearance_Date,District,Zip_Code_Crime,...,Rentalunitsaffordabletoaverageteacher,Ownerunitsaffordabletoaverageteacher,Rentalunitsaffordabletoaveragetechworker,Ownerunitsaffordabletoaveragetechworker,Changeinpercentageofpopulationbelowpoverty2000-2012,Changeinmedianrent2000-2012,Changeinmedianhomevalue2000-2012,Percentageofhomeswithin1/4-mioftransitstop,Averagemonthlytransportationcost,Percentageofhousingandtransportationcoststhatistransportation-related
0,201510782,4.0,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-15,9001 N IH 35 SVRD NB,N,28-Jan-15,E,78753.0,...,89%,75%,100%,98%,128%,26%,40%,59%,$708,44%
1,201511231,4.0,ROBBERY BY ASSAULT,Robbery,1-Jan-15,919 E KOENIG LN SVRD EB,N,13-Jan-15,I,78751.0,...,68%,10%,97%,42%,23%,38%,97%,98%,$550,40%
2,201511736,1.0,BURGLARY OF RESIDENCE,Burglary,1-Jan-15,12151 N IH 35 SVRD NB,N,13-Jan-15,E,78753.0,...,89%,75%,100%,98%,128%,26%,40%,59%,$708,44%
3,201511433,4.0,BURGLARY OF RESIDENCE,Burglary,1-Jan-15,1044 NORWOOD PARK BLVD,N,5-Jan-15,I,78753.0,...,89%,75%,100%,98%,128%,26%,40%,59%,$708,44%
4,201511936,2.0,BURGLARY OF RESIDENCE,Burglary,1-Jan-15,2413 BITTER CREEK DR,N,7-Jan-15,F,78744.0,...,81%,87%,100%,100%,89%,26%,44%,63%,$708,40%

In [6]:
crime_df.columns

Index(['Key', 'Council_District', 'Highest_Offense_Desc',
       'Highest_NIBRS_UCR_Offense_Description', 'Report_Date', 'Location',
       'Clearance_Status', 'Clearance_Date', 'District', 'Zip_Code_Crime',
       'Census_Tract', 'X_Coordinate', 'Y_Coordinate', 'Zip_Code_Housing',
       'Populationbelowpovertylevel', 'Medianhouseholdincome',
       'Non-WhiteNon-HispanicorLatino', 'HispanicorLatinoofanyrace',
       'Populationwithdisability', 'Unemployment',
       'Largehouseholds(5+members)',
       'Homesaffordabletopeopleearninglessthan$50000',
       'Rentalsaffordabletopeopleearninglessthan$25000',
       'Rent-restrictedunits', 'HousingChoiceVoucherholders', 'Medianrent',
       'Medianhomevalue', 'Percentageofrentalunitsinpoorcondition',
       'Percentchangeinnumberofhousingunits2000-2012',
       'Ownerunitsaffordabletoaverageretail/serviceworker',
       'Rentalunitsaffordabletoaverageretail/serviceworker',
       'Rentalunitsaffordabletoaverageartist',
       'Ownerunitsaffordabletoaverageartist',
       'Rentalunitsaffordabletoaverageteacher',
       'Ownerunitsaffordabletoaverageteacher',
       'Rentalunitsaffordabletoaveragetechworker',
       'Ownerunitsaffordabletoaveragetechworker',
       'Changeinpercentageofpopulationbelowpoverty2000-2012',
       'Changeinmedianrent2000-2012', 'Changeinmedianhomevalue2000-2012',
       'Percentageofhomeswithin1/4-mioftransitstop',
       'Averagemonthlytransportationcost',
       'Percentageofhousingandtransportationcoststhatistransportation-related'],
      dtype='object')

### Data Exploration

In [7]:
crime_df.describe()

,Key,Council_District,Zip_Code_Crime,Census_Tract,X_Coordinate,Y_Coordinate,Zip_Code_Housing
count,3.857300e+04,38401.000000,38414.000000,38414.000000,3.798100e+04,3.798100e+04,37285.000000
mean,1.787442e+10,5.223458,78732.853777,72.426942,3.115612e+06,1.008005e+07,78734.385705
std,1.564763e+10,2.805340,25.877405,686.752321,1.508935e+04,2.857887e+04,22.619026
min,2.015103e+08,1.000000,78613.000000,1.010000,3.040396e+06,1.001173e+07,78617.000000
25%,2.015186e+10,3.000000,78719.000000,15.040000,3.106999e+06,1.005776e+07,78721.000000
50%,2.015500e+10,5.000000,78744.000000,18.230000,3.116494e+06,1.007645e+07,78744.000000
75%,2.015503e+10,8.000000,78752.000000,23.040000,3.126048e+06,1.010246e+07,78753.000000
max,2.015153e+12,10.000000,78759.000000,9800.000000,3.164242e+06,1.015923e+07,78759.000000

In [8]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38573 entries, 0 to 38572
Data columns (total 43 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Key                                                                    38573 non-null  int64
 1   Council_District                                                       38401 non-null  float64
 2   Highest_Offense_Desc                                                   38573 non-null  object
 3   Highest_NIBRS_UCR_Offense_Description                                  38573 non-null  object
 4   Report_Date                                                            38573 non-null  object
 5   Location                                                               38092 non-null  object
 6   Clearance_Status                                                       36649 non-null  object
 7   Clearance_Date                                                         36649 non-null  object
 8   District                                                               38573 non-null  object
 9   Zip_Code_Crime                                                         38414 non-null  float64
 10  Census_Tract                                                           38414 non-null  float64
 11  X_Coordinate                                                           37981 non-null  float64
 12  Y_Coordinate                                                           37981 non-null  float64
 13  Zip_Code_Housing                                                       37285 non-null  float64
 14  Populationbelowpovertylevel                                            37444 non-null  object
 15  Medianhouseholdincome                                                  37444 non-null  object
 16  Non-WhiteNon-HispanicorLatino                                          37444 non-null  object
 17  HispanicorLatinoofanyrace                                              37444 non-null  object
 18  Populationwithdisability                                               37444 non-null  object
 19  Unemployment                                                           37444 non-null  object
 20  Largehouseholds(5+members)                                             37444 non-null  object
 21  Homesaffordabletopeopleearninglessthan$50000                           37168 non-null  object
 22  Rentalsaffordabletopeopleearninglessthan$25000                         37444 non-null  object
 23  Rent-restrictedunits                                                   37444 non-null  object
 24  HousingChoiceVoucherholders                                            37444 non-null  object
 25  Medianrent                                                             37444 non-null  object
 26  Medianhomevalue                                                        37444 non-null  object
 27  Percentageofrentalunitsinpoorcondition                                 37444 non-null  object
 28  Percentchangeinnumberofhousingunits2000-2012                           37444 non-null  object
 29  Ownerunitsaffordabletoaverageretail/serviceworker                      37168 non-null  object
 30  Rentalunitsaffordabletoaverageretail/serviceworker                     37444 non-null  object
 31  Rentalunitsaffordabletoaverageartist                                   37444 non-null  object
 32  Ownerunitsaffordabletoaverageartist                                    37168 non-null  object
 33  Rentalunitsaffordabletoaverageteacher                                  37444 non-null  object
 34  Ownerunitsaffordabletoaverageteacher                                   37168 non-null  object
 35  Rentalunitsaffordabletoaveragetechworker                               37444 non-null  object
 36  Ownerunitsaffordabletoaveragetechworker                                37168 non-null  object
 37  Changeinpercentageofpopulationbelowpoverty2000-2012                    37444 non-null  object
 38  Changeinmedianrent2000-2012                                            37444 non-null  object
 39  Changeinmedianhomevalue2000-2012                                       37444 non-null  object
 40  Percentageofhomeswithin1/4-mioftransitstop                             37444 non-null  object
 41  Averagemonthlytransportationcost                                       37444 non-null  object
 42  Percentageofhousingandtransportationcoststhatistransportation-related  37444 non-null  object
dtypes: float64(6), int64(1), object(36)
memory usage: 12.7+ MB

In [9]:
display(crime_df['Location'].value_counts())

Location
1030 NORWOOD PARK BLVD            577
2901 S CAPITAL OF TEXAS HWY NB    376
9300 S IH 35 SVRD SB              351
2508 E RIVERSIDE DR               269
11200 LAKELINE MALL DR            263
                                 ...
2508 BLOCK E RIVERSIDE DR           1
2308 RACHAEL CT                     1
1904 HEARTHSIDE DR                  1
806 GREAT BRITAIN BLVD              1
1100 BLOCK HARGRAVE ST              1
Name: count, Length: 16764, dtype: int64

In [10]:
display(crime_df['Clearance_Status'].value_counts())

Clearance_Status
N    30462
C     5245
O      942
Name: count, dtype: int64

## First Analysis

## Second Analysis

## Third Analysis

## Fourth Analysis